[flake8]
max-line-length = 79
max-doc-length = 72

# flake8-functions.
max-function-length = 14
max-parameters-amount = 6
max-returns-amount = 6

# flake8-docstrings.
docstring-convention = all
extend-ignore =
    D203,
    D213,
    D406,
    D407,
    D408,
    D409,
    D413,
    D415,
    E203

extend-exclude =
    .venv

# Generated code: exempt from the length and docstring requirements.
per-file-ignores =
    */migrations/*: E501, W505, D1
